# Files
*.o
*.elf
*.self
*.velf
*.bin
*.vpk
*.sfo
*.cbp


switch_sd2vita
.DS_Store
.idea

# CMake data
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
